@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --background-color: #282c34;
  --color-blue: hsl(210, 88%, 56%);
  --color-grey: hsl(213, 30%, 29%);
  --color-grey-light: hsl(213, 30%, 59%);
  --color-grey-lighter: hsl(213, 30%, 79%);
  --color-orange: hsl(34, 84%, 85%);
  --color-orange-dark: hsl(34, 77%, 76%);
  --color-black: black;
  --color-orange-deeper:hsl(34, 100%, 67%);
}
.App{
  text-align: center;
  width: 100%;
  background-color: var(--background-color);
}
.App-header{
  background-color: var(--background-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:aliceblue;
}
.innercontainer {
  display: flex;
  color: var(--color-grey);
  flex-wrap: wrap;
  padding: 0 20px;
}

.container {
  max-width: 700px;
  min-width: 270px;
  margin: 0 auto;
  padding: 0 10px;
}

.game {
  width: 100%;
}
.game__board {
  font-family: 'Noto Sans', sans-serif;
  margin-top:30px;
  border: 2px solid var(--color-black);
  border-collapse: collapse;
}
.game__cell {
  background-color: var(--color-orange);
  border: 1px solid var(--color-black);
  color: var(--color-orange);
  cursor: pointer;
  width: 50px;
  height: 50px;
  font-size: 20px;
  text-align: center;
  padding: 0px;
}

.game__cell.game__cell--filled {
  color: var(--color-grey);
}

.game__cell.game__cell--userfilled {
  color: var(--color-grey-light);
}

.game__cell.game__cell--selected {
  color: var(--color-orange);
  background-color: var(--color-orange);
}

.game__cell.game__cell--filled.game__cell--selected {
  color: var(--color-grey);
  background-color: var(--color-orange-deeper);
}

.game__cell.game__cell--userfilled.game__cell--selected {
  color: var(--color-grey-light);
  background-color: var(--color-orange);
}

.game__cell.game__cell--highlightselected {
  color: var(--color-orange-dark);
  background-color: var(--color-orange-dark);
}

.game__cell.game__cell--filled.game__cell--highlightselected {
  color: var(--color-grey);
  background-color: var(--color-orange-dark);
}

.game__cell.game__cell--userfilled.game__cell--highlightselected {
  color: var(--color-grey-light);
  background-color: var(--color-orange-dark);
}

.game__cell:nth-child(3n) {
  border-right: 2px solid var(--color-black);
}
.game__row:nth-child(3n) {
  border-bottom: 2px solid var(--color-black);
}
/*

*/

.status{
  width: 50%;
  justify-content: center;
}
.status__actions{
  position: relative;
  left: 10px;
  display: flex;
  justify-content: space-around;
}
.difficulty-bar{
  display: flex;
  justify-content: space-around;
}
.difficulty__text{
  text-transform: uppercase;
  cursor: pointer;
}
.difficulty__textchosen{
  text-transform: uppercase;
  cursor: pointer;
  color: greenyellow;
}


.status__action-restart,
.status__action-solve,
.status__action-erase{
  text-align: center;
  position: relative;
  cursor: pointer;
}
.status__action_text {
  position: relative;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;
  padding-top: 20px;
}
.status__action-svg{
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}
.status__action-erase .status__action-svg {
  width: 100px;
  height: 100px;
  top: 20px;
}

.status__action-solve .status__action-svg {
  top: 20px;
  width: 90px;
  height: 90px;
}
.status__action-restart .status__action-svg {
  top: 20px;
  width: 90px;
  height: 90px;
}